<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension point="org.jkiss.dbeaver.debug.ui.configurationPanels">
        <panel id="org.jkiss.dbeaver.ext.gaussdb.debug.routine"
               name="GaussDB routine"
               description="GaussDB PL/SQL function or procedure"
               class="org.jkiss.dbeaver.ext.gaussdb.debug.ui.internal.GaussDBDebugPanelRoutine">
            <datasource id="gaussdb"/>
        </panel>
    </extension>

    <extension point="org.eclipse.core.runtime.adapters">
        <factory adaptableType="org.jkiss.dbeaver.model.navigator.DBNDatabaseNode"
                 class="org.jkiss.dbeaver.ext.gaussdb.debug.ui.internal.GaussDBDebugObjectAdapterFactory">
            <adapter type="org.jkiss.dbeaver.debug.DBGDebugObject"/>
        </factory>
        <factory adaptableType="org.jkiss.dbeaver.ext.gaussdb.model.GaussDBProcedure"
                 class="org.jkiss.dbeaver.ext.gaussdb.debug.ui.internal.GaussDBDebugObjectAdapterFactory">
            <adapter type="org.jkiss.dbeaver.debug.DBGDebugObject"/>
        </factory>
        <factory adaptableType="org.jkiss.dbeaver.ext.postgresql.ui.editors.PostgreSourceViewEditor"
                 class="org.jkiss.dbeaver.debug.ui.actions.DebugActionAdapterFactory">
            <adapter type="org.eclipse.debug.ui.actions.IToggleBreakpointsTarget"/>
        </factory>
        <factory adaptableType="org.jkiss.dbeaver.model.DBPDataSourceContainer"
                 class="org.jkiss.dbeaver.ext.gaussdb.debug.ui.internal.GaussDBDebugUIAdapterFactory">
            <adapter type="org.jkiss.dbeaver.debug.ui.DBGEditorAdvisor"/>
        </factory>
        <factory adaptableType="org.jkiss.dbeaver.ui.editors.entity.EntityEditor"
                 class="org.jkiss.dbeaver.ext.gaussdb.debug.ui.internal.GaussDBDebugObjectAdapterFactory">
            <adapter type="org.jkiss.dbeaver.debug.DBGDebugObject"/>
        </factory>
    </extension>

    <extension point="org.eclipse.ui.editorActions">
        <editorContribution id="org.jkiss.dbeaver.ext.gaussdb.debug.editorContribution" targetID="postgresql.source.view">
            <action actionID="RulerDoubleClick"
                    class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
                    icon="platform:/plugin/org.eclipse.debug.ui/$nl$/icons/full/obj16/brkp_obj.png"
                    id="org.jkiss.dbeaver.ext.gaussdb.debug.actions.ManageBreakpointRulerAction"
                    label="Toggle GaussDB breakpoint" style="push"/>
        </editorContribution>
    </extension>

    <extension point="org.eclipse.ui.bindings">
        <key commandId="org.eclipse.debug.ui.commands.StepInto" contextId="org.jkiss.dbeaver.ext.gaussdb.debug.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="F7"/>
        <key commandId="org.eclipse.debug.ui.commands.StepOver" contextId="org.jkiss.dbeaver.ext.gaussdb.debug.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="F8"/>
        <key commandId="org.eclipse.debug.ui.commands.StepReturn" contextId="org.jkiss.dbeaver.ext.gaussdb.debug.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="SHIFT+F7"/>
        <key commandId="org.eclipse.debug.ui.commands.Resume" contextId="org.jkiss.dbeaver.ext.gaussdb.debug.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="F9"/>
        <key commandId="org.eclipse.debug.ui.commands.Terminate" contextId="org.jkiss.dbeaver.ext.gaussdb.debug.context"
             schemeId="org.eclipse.ui.defaultAcceleratorConfiguration" sequence="F10"/>
    </extension>

    <extension point="org.eclipse.ui.contexts">
        <context id="org.jkiss.dbeaver.ext.gaussdb.debug.context"
                 name="GaussDB debugging"
                 description="Active while a GaussDB routine is being debugged"
                 parentId="org.eclipse.debug.ui.debugging"/>
    </extension>

    <extension point="org.eclipse.ui.startup">
        <startup class="org.jkiss.dbeaver.ext.gaussdb.debug.ui.internal.GaussDBDebugContextActivator"/>
    </extension>
</plugin>
